<div class="container-fluid mt-4">
  <h2>לוח בקרה למנהלים</h2>
  
 <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a class="nav-link" routerLink="donors" routerLinkActive="active">ניהול תורמים</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="raffles" routerLinkActive="active">הגרלות</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="reports" routerLinkActive="active">דוחות</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>